*{
    margin: 0;
    padding:0;
    }
    
    /* comentarios */

    .header{
        color: white;
        font-family: 'Bangers', cursive;
        background-color: darkslategray;
        
        height:100px;
        width:100%;
        /* no tocar*/
    }
    
    div.image{
        padding-left: 10px;
        padding-top: 0px;
    }

    
    /* p */

    div.continental h1{
        height: 100px;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 60px;
    }

    /* div.buscador{  
        padding-left: 100px;
        padding-top: 0px;
    }

    button.boton{
        padding-left: 0px;
        padding-top: 10px;
    } */

    nav.menu{
        font-size:25px;
        word-spacing: 20px;
        padding-left: 390px;
        padding-top: 0px;
    } 

    div.image2{
        padding-left: 20px;
        padding-top: 0px;
    }

    
    div.conjunto{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    /* OPCIONES EN LA BARRA DE MENU (NAVBAR) */
    a.nav-link{
        color: white;
        border-right: 1px solid greenyellow;
        border-bottom: 1px solid greenyellow;
    }

    /* OPCIONES EN LA BARRA DE MENU (NAVBAR) */
    li.nav-item{
        
        margin-left: 20px;
        margin-right: 20px;
    }

    #carouselExampleFade{
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 504px;
        border: 8px outset rgb(100, 100, 100);
        border-radius: 10px;
    }

    /* AJUSTADOR DE TAMAÑO PARA IMAGENES EN CAROUSEL */
    div.carousel-item{
        width: 892px;
        height: 488px;
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// CONJUNTO DE NOTICIAS PRINCIPALES ///////////////////////// 
    ///////////////////////////////////////////////////////////////////////////*/
    div.noticias-principales{
        margin-top: 40px;
        display: flex;
        width: 1000px;
    }

    /* INDICE DEL LADO IZQUIERDO */
    div.list-group{
        display: inline-block;
        width: 210px;
        font-family: 'Bangers';
    }

    /* SECCION DE NOTICIAS */
    div.scrollspy-example{
        display: inline-block;
        padding-left: 20px;
        width: 800px;
    } 

    /* NOTICIAS */
    div.card-principal{
        width: 1000px;
        background-color: darkslategray;
        color: white;
        border:10px outset gray;
        border-radius: 10px;
    }

    /* conjunto texto imagen */
    div.noticia-imagen{
        display: flex;
        /* background-image: url(https://media.vandal.net/i/1280x720/89906/super-mario-3d-allstars-2020931616177_1.jpg); */
    }

    /* titulo de la noticia */
    div.card-principal div.card-header{
        font-size: 30px;
        font-family: 'Bangers';
        font-style: italic;
        background-color: seagreen;
    }

    /* resumen de la noticia */
    div.card-principal div.card-body{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* imagen de la noticia */
    div.card-principal img.card-img{
        padding: 10px;
        width: 600px;
        height: 400px;
    }

    /* tiempo de publicacion */
    div.card-principal div.card-footer{
        text-align: right;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: seagreen;
    }
    
    
