*{
    margin: 0;
    padding:0;
    }
    
    /* comentarios */

    .header{
        color: white;
        font-family: 'Bangers', cursive;
        background-color: darkslategray;
        
        height:100px;
        width:100%;
        /* no tocar*/
    }
    
    div.image{
        padding-left: 10px;
        padding-top: 0px;
    }

    
    /* p */

    div.continental h1{
        height: 100px;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 60px;
    }

    /* div.buscador{  
        padding-left: 100px;
        padding-top: 0px;
    }

    button.boton{
        padding-left: 0px;
        padding-top: 10px;
    } */

    nav.menu{
        font-size:25px;
        word-spacing: 20px;
        padding-left: 350px;
        padding-top: 0px;
    } 

    nav.menu a.btn{
        background-color: rgba(47,79,79,0);
        border: 2px solid rgba(0,100,0, 0);
        border-radius: 10px;
        font-size: 20px;
    }

    nav.menu a.btn:hover{
        border: 2px solid rgba(0,133,0,1);
        border-radius: 10px;
    }

    div.image2{
        padding-left: 5px;
        padding-top: 0px;
    }

    div.dropdown{
        padding-left: 20px;
    }
    
    div.conjunto{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// //// /* OPCIONES EN LA BARRA DE MENU (NAVBAR) ///////////
    ///////////////////////////////////////////////////////////////////////////*/
  
    nav.navbar{ 
        position: sticky;
        background-color: darkslategray; 
        margin-top: 5px;
        top: 0;
        z-index: 100;
    } 

    a.nav-link{
        font-family: 'Bangers';
        font-size: 25px;
        color: white;
        border-right: 2px solid rgba(0,133,0,0);
        border-bottom: 2px solid rgba(0,133,0,0);
    }

    a.nav-link:hover{
        border-right: 2px solid rgb(0,133,0);
        border-bottom: 2px solid rgb(0,133,0);
    }

    li.nav-item{
        
        margin-left: 20px;
        margin-right: 20px;
    }


    div.creacion{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 80px;
        font-family: 'Bangers';
        text-align: center;
        color:white;
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// //// /* DISEÑO DE FORMULARIO //////////////////////////
    ///////////////////////////////////////////////////////////////////////////*/

    form.agregar-noticia{
        margin-top: 40px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    form.agregar-noticia div.form-group{
        color: white;
        font-size: 20px;
        display: inline-flex;
        
    }

    form.agregar-noticia div.form-group label{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 200px;
        width: 200px;
        height: 40px;
        text-align: right;
        
    }

    form.agregar-noticia div.form-group input{
        margin: 10px;
        padding: 10px;
        width: 600px; 
    }

    form.agregar-noticia div.form-group div.categories{
        max-width: 800px;
    }
    
    form.agregar-noticia div.form-group div.categorias{
        min-width: 300px;
        max-width: 400px;
        margin-left: 10px;
        margin-right: 10px;
    }

    form.agregar-noticia div.form-group div.categorias label{
        margin-left: 10px;
        text-align: left;
    }

    form.agregar-noticia div.form-group div.categorias input{
        width: 10px;
    }

    form.agregar-noticia div.form-group input.info{
        /* padding-bottom: 400px; */
        resize: none;
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// //////////////FOOTER ///////////////////////// //////////
    ///////////////////////////////////////////////////////////////////////////*/

    footer.pie-de-pagina{
        margin-top: 40px;
        background-color: rgb(73, 73, 73);
        width: 100%;
        height: 150px;
        color:white;
    }