*{
    margin: 0;
    padding:0;
    }
    
    /* comentarios */

    .header{
        color: white;
        font-family: 'Bangers', cursive;
        background-color: darkslategray;
        
        height:100px;
        width:100%;
        /* no tocar*/
    }
    
    div.image{
        padding-left: 10px;
        padding-top: 0px;
    }

    
    /* p */

    div.continental h1{
        height: 100px;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 60px;
        margin-right: 200px;
    }

    /* div.buscador{  
        padding-left: 100px;
        padding-top: 0px;
    }

    button.boton{
        padding-left: 0px;
        padding-top: 10px;
    } */

    nav.menu{
        font-size:25px;
        word-spacing: 20px;
        padding-left: 50px;
        padding-top: 0px;
    } 

    nav.menu a.btn{
        background-color: rgba(47,79,79,0);
        border: 2px solid rgba(0,100,0, 0);
        border-radius: 10px;
        font-size: 20px;
    }

    nav.menu a.btn:hover{
        border: 2px solid rgba(0,133,0,1);
        border-radius: 10px;
    }

    div.image2{
        margin-right: 20px;
        padding-left: 5px;
        padding-top: 0px;
    }

    div.dropdown{
        padding-left: 20px;
        margin-left: auto;
    }
    
    div.conjunto{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// //// /* OPCIONES EN LA BARRA DE MENU (NAVBAR) ///////////
    ///////////////////////////////////////////////////////////////////////////*/
  
    nav.navbar{ 
        position: sticky;
        background-color: darkslategray; 
        margin-top: 5px;
        top: 0;
        z-index: 100;
    } 

    a.nav-link{
        font-family: 'Bangers';
        font-size: 25px;
        color: white;
        border-right: 2px solid rgba(0,133,0,0);
        border-bottom: 2px solid rgba(0,133,0,0);
    }

    a.nav-link:hover{
        border-right: 2px solid rgb(0,133,0);
        border-bottom: 2px solid rgb(0,133,0);
    }

    li.nav-item{
        
        margin-left: 20px;
        margin-right: 20px;
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// //// /* NOTICIAS PRECARGADAS ///////////// ///////////
    ///////////////////////////////////////////////////////////////////////////*/
    div.evaluacion-de-noticias{
        width: 80%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Bangers';
        color: white;
        font-size: 80px;
    }

    div.seccion-de-noticias{
        margin-top: 40px;
        display: inline-block;
        width: 80%;
        max-height: 800px;
        align-items: center;
        margin-left: 10%;
        margin-right: auto;
        border-top: 2px solid gray;
        border-left: 2px solid gray;
        border-bottom: 2px solid gray;
        border-radius: 15px;
        overflow-y: scroll;
    }

    div.seccion-noticias-evaluacion{
        width: 100%;
        display: inline-flex;
        margin-bottom: 40px;
    }
    /* NOTICIAS */
    div.card-evaluar-noticia{
        display: inline-block;
        width: 60%;
        background-color: rgba(47,79,79,0.75);
        color: white;
        border:10px outset gray;
        border-radius: 10px;
    }

    /* titulo de la noticia */
    div.card-evaluar-noticia div.card-header{
        font-size: 20px;
        font-family: 'Bangers';
        font-style: italic;
        background-color: darkgreen;
    }

    /* imagen de la noticia */
    div.card-evaluar-noticia img.card-img{
        padding: 10px;
        width: 100%;
        height: auto;
    }

    /* resumen de la noticia */
    div.card-evaluar-noticia div.card-body{
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* tiempo de publicacion */
    div.card-evaluar-noticia div.card-footer{
        display: inline-flex;
        width: 100%;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: darkgreen;
    } 

    div.card-evaluar-noticia div.card-footer div.fecha{
        margin-left: auto;
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion{
        margin-top: auto;
        margin-bottom: auto;
        display: block;
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion div.botones{
        width: 380px;
        margin-left: 40px;
        margin-right: 40px;
        display: inline-flex;
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion a.btna{
        width: 150px;
        height: 150px;
        margin-right: auto;
        margin-top: 40px;
        padding-top: 45px;
        border: 10px outset green;
        border-radius: 100px;
        background-color: rgba(0,255,0,0);
        text-align: center;
        color: white;
        font-size: x-large;
        font-family: 'Bangers';
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion a.btnr{
        width: 150px;
        height: 150px;
        margin-top: 40px;
        margin-left: auto;
        padding-top: 45px;
        border: 10px outset red;
        border-radius: 100px;
        background-color: rgba(255,0,0,0);
        text-align: center;
        color: white;
        font-size: x-large;
        font-family: 'Bangers';
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion a.btna:hover{
        border: 20px outset green;
        color: white;
        font-size: x-large;
        padding-top: 35px;
        background-color: rgba(0, 255, 0, 0.5);
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion a.btnr:hover{
        border: 20px outset red;
        color: white;
        font-size: x-large;
        padding-top: 35px;
        background-color: rgba(255, 0, 0, 0.5);
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion div.comentario{
        width: 300px;
        margin-top: 40px;
        margin-left: 30px;
        color: white;
        font-size: medium;
        display: none;
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion div.comentario a{
        margin-left: 80px;
        padding: 5px;
        border-radius: 5px;
        display: none;
    }

    div.seccion-noticias-evaluacion div.seccion-evaluacion div.comentarios{
        margin-left: 30px;
        width: 300%;
        display: none;
    }

    /* //////////////////////////////////////////////////////////////////////
    //////////////// //////////////FOOTER ///////////////////////// //////////
    ///////////////////////////////////////////////////////////////////////////*/

    footer.pie-de-pagina{
        margin-top: 40px;
        background-color: rgb(73, 73, 73);
        width: 100%;
        height: 150px;
        color:white;
    }